/* About.css */
.about-section {
    min-height: 100vh;
    display: flex;
    justify-content: center;
    justify-content: space-between;
    align-items: center;
}

#particles canvas {
    position: absolute !important;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    z-index: -1 !important;
}

.about-name {
    font-size: clamp(2rem, 5vw + 1rem, 5rem);
    font-weight: lighter;
    letter-spacing: 0.2rem;
    font-family: 'rubik';
}

.about-desg {
    font-size: clamp(2rem, 4vw + 1rem, 3.7rem);
    letter-spacing: 0.1rem;
    font-weight: lighter;
    font-family: 'lato';
}

.about-greet {
    font-weight: lighter;
    font-family: 'lato';
}